.idea
.tmp
.history
.vscode
.project
~*
*.~*
**/Gemfile.lock
**/*.war
**/node_modules
**/dist
**/public
**/target
*.iml
**/cloud_config.json
**/*log.*
**/dist-node
**/npm-debug.log
/*-client/src/lib
/*-server/gems
**/package-lock.json
**/oidc-token
**/test/config/jest.config.node.json
*.tgz
**/*.tgz
